extends layout

block header
  .intro
    .serviceVendors
      h1 Bereit für den Start?
      h2 domopay ist die innovative Plattform, mit der Immobilienverwalter unkompliziert zusätzliche Einnahmen erzielen können. Treten Sie unserem Netzwerk bei und bieten Sie wichtige Dienstleistungen an, um Mieteranforderungen einfach zu erfüllen.
      if serviceVendor && serviceVendor.stripeAccountId && serviceVendor.onboardingComplete
        a.button.primary(href='/serviceVendors/dashboard') Dashboard anzeigen
      else
        a.button.primary(href='/serviceVendors/signup') Partner werden

block content
  .features
    section.schedule
      h3 Starten Sie sofort
      p Werden Sie Teil des domopay-Netzwerks – Sie entscheiden, wann Sie Dienstleistungen anbieten möchten. Verwalten Sie Ihre Angebote einfach und bequem, wann und wie Sie es wünschen.
    section.earnings
      h3 Verdienen Sie mehr mit jeder Anfrage
      p Mit jeder ausgestellten Bescheinigung erhöhen Sie Ihre Einnahmen. Überweisen Sie Ihre verdienten Beträge direkt auf Ihr Konto, wann immer Sie möchten.
    section.app
      h3 Einfacher Online-Zugriff
      p Kein technisches Know-how erforderlich. Verwalten Sie alles bequem online und erstellen Sie in wenigen Klicks Zahlungslinks für Ihre Kunden. Wir kümmern uns um den Rest.

block footer
  .annotation.landing
    a.stripe(href='https://stripe.com') &nbsp;
    p &nbsp;
    p &nbsp; &copy; 2024 domoforce GmbH. Alle Rechte vorbehalten.