extends layout

block content
  h1.title.short-form Melden Sie sich mit Ihrem domopay Zugang an
  section.form.login
    form(method='POST', autocomplete='off')
      fieldset
        .row(label='Email')
          input(type='email', name='email', placeholder='sepp.maier@meine-firma.de', required, autofocus)
        .row(label='Password')
          input(type='password', name='password', placeholder='••••••••', required)
      input(class='primary', type='submit', value='Anmelden')
