extends layout

block content
  h1.title.short-form
    if step == 'account'
      | Neuen domopay Zugang anlegen
    else if step == 'profile'
      | Profil vervollständigen
  section.form(class={'account': step == 'account', 'profile': step == 'profile'})
    if error
      p.error= error

    case step
      when 'account'
        form(method='POST', autocomplete='off')
          fieldset
            .row(label='Email')
              input(type='email', name='email', placeholder='sepp.maier@meine-firma.de', required, autofocus)
            .row(label='Passwort')
              input(type='password', name='password', placeholder='••••••••', required)
          input.primary(type='submit', value='Fortfahren')

      when 'profile'
        form(method='POST', autocomplete='off')
          h4.serviceVendor-header Account Typ
          .serviceVendor-options
            label.serviceVendor-option
              input(type='radio', name='serviceVendor-type', value='company', id='po-company', checked=true)
              span Firma
            label.serviceVendor-option
              input(type='radio', name='serviceVendor-type', value='individual', id='po-individual')
              span Einzelperson

          h4.serviceVendor-header#account-info Persönliche Daten
          fieldset
            .row.serviceVendor-info.individual.hidden(label='* Vorname')
              input(type='text', name='firstName', placeholder='Sepp')
            .row.serviceVendor-info.individual.hidden(label='* Nachname')
              input(type='text', name='lastName', placeholder='Maier')
            .row.serviceVendor-info.company(label='* Firmenname')
              input(type='text', name='businessName', placeholder='Hausverwaltung Maier GmbH')
            .row.select(label='Land')
              select(name='country')
                option(value='AT') Österreich
                option(value='DE', selected=true) Deutschland
                option(value='CH') Switzerland
          aside * Pflichtfeld
          
          h4 Produkt Informationen
          .product-information
            p Für einen einfachen Start haben wir eine Liste an Standardprodukten für Sie definiert. 
            p Geben Sie einfach an zu welchem Preis Sie Ihre Dienstleistungen anbieten.
          fieldset
            .row(label='Pro Bescheinigung')
              input(type='number', name='rocket[model]', min='5', max='100', placeholder='€ 20')
            .row(label='Pro Schlüssel')
              input(type='number', name='rocket[license]', min='5', placeholder='€ 100')
            .row(label='Pro Stunde')
              input(type='number', name='rocket[color]', min='5', placeholder='€ 100')
          aside * Pro Transaktion behalten wir uns #[strong € XX] als Entgelt ein.

          h4 Zahlungsinformationen
          .stripe-information
            p Wir verwenden Stripe, um sicherzustellen, dass Sie pünktlich bezahlt werden und um Ihre persönlichen Bankdaten sicher zu halten. Klicken Sie auf #[strong Speichern und Fortfahren], um Ihre Zahlungen über Stripe einzurichten.
            
          input.primary(type='submit', value='Speichern und Fortfahren')

      when 'payments'
        h1.title Verbinden Sie Ihr Konto mit Stripe
        p Wir verwenden Stripe, um sicherzustellen, dass Sie pünktlich bezahlt werden und Ihre persönlichen und Bankdaten sicher sind.
        a.button.primary(href='/serviceVendors/stripe/authorize') Auszahlungen einrichten